@model GenericIndexDto<WorkFollow.Entities.Grup>
@{
    ViewData["Title"] = "Home Page";
    var error = ViewData["success"] as string;
}


<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Overview</a>
                </li>

                <li class="breadcrumb-item">
                    <a href="#">App Pages</a>
                </li>


                <li class="breadcrumb-item active" aria-current="page">User</li>
            </ol>
        </nav>

        <div class="dropdown">
            <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
                <i class="material-icons">settings</i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">

                <a class="dropdown-item" href="#">Account Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="/Account/Logout">Log out</a>

            </div>
        </div>

    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11 col-xl-10">
                <div class="page-header mb-1">

                </div>

                <ul class="nav nav-tabs nav-fill">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#teams" role="tab" aria-controls="teams"
                           aria-selected="true">Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Project/Index">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Activity/Index">Task</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="teams" role="tabpanel" aria-labelledby="teams-tab"
                         data-filter-list="content-list-body">
                        <div class="row content-list-head">
                            <div class="col-auto">
                                <h3>Teams</h3>
                                <button class="btn btn-round" data-toggle="modal" data-target="#team-add-modal">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                            <form class="col-md-auto">
                                <a title="@Model.sort" href="/Home/Index?sort=@Model.SortSelect()"
                                   class="btn btn-round">
                                    <i class="material-icons">sort</i>
                                </a>
                                <div class="input-group input-group-round">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">filter_list</i>
                                        </span>
                                    </div>
                                    <input onkeyup="searchHtml(this)" data-tableid="dataList" type="search"
                                           class="form-control filter-list-input" placeholder="Filter teams"
                                           aria-label="Filter teams" aria-describedby="filter-teams">
                                </div>
                            </form>
                        </div>
                        <!--end of content list head-->
                        <div class="content-list-body row" id="dataList">

                            @foreach (WorkFollow.Entities.Grup grup in Model.list)
                            {
                                <div class="col-md-6 searchDiv">
                                    <div class="card card-team">
                                        <div class="card-body">
                                            <div class="dropdown card-options">
                                                <button class="btn-options" type="button" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons">more_vert</i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <button type="button" class="dropdown-item"
                                                            onclick="editAnyItem(this)" data-url="/Team/EditTeam"
                                                            data-form="team-add-modal" data-id="@grup.Id">Manage
                                                    </button>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item text-danger" href="#">Leave Team</a>
                                                    <button type="button" class="dropdown-item text-danger"
                                                            onclick="deleteAnyItem('/Team/DeleteTeam', @grup.Id)">Delete
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-title">
                                                <a href="#">
                                                    <h5 data-filter-by="text">@grup.ad</h5>
                                                </a>
                                                <span>@grup.aciklama</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                        <!--end of content-list-body-->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <form class="modal fade" action="/Team/InsertTeam" method="post" id="team-add-modal" tabindex="-1" role="dialog"
          aria-labelledby="team-add-modal" aria-hidden="true">
        <input hidden type="text" name="id" id="team-add-modal_id">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Team</h5>
                    <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">close</i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="team-add-details" role="tabpanel"
                             aria-labelledby="team-add-details-tab">
                            <h6>Team Details</h6>
                            <div class="form-group row align-items-center">
                                <label class="col-3">Name</label>
                                <input class="form-control col" type="text" placeholder="Team name" name="ad"
                                       id="team-add-modal_ad" required>
                            </div>
                            <div class="form-group row">
                                <label class="col-3">Description</label>
                                <textarea class="form-control col" rows="3" placeholder="Team description"
                                          name="aciklama" id="team-add-modal_aciklama"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
                <!--end of modal body-->
                <div class="modal-footer">
                    <button role="button" class="btn btn-primary" type="submit">
                        Done
                    </button>
                </div>
            </div>
        </div>
    </form>


</div>